target
.kotlintest

# local config files
local.*
!local.properties.sample
docker-compose.override.*

pom.xml.releaseBackup
release.properties

.DS_Store
.java-version

# IDE specific
.vscode
.settings
.classpath
.project
.idea/
*.ipr
*.iws
*.iml
.run/

/output/

